<li class="image_fields fields">
  <%= f.label :url, "URL:" %>
  <%= f.text_field :url, :placeholder => "http://imgur.com/" %>
  <%= f.label :description, "Description:" %>
  <%= f.text_field :description, :placeholder => "Dance of the Sugar Plum Fairy" %>
  <%= f.hidden_field :_destroy %>
  <%= link_to_remove_fields "remove", f %>
</li>