<h2>All Galleries (<%= link_to 'Create New Gallery', new_admin_gallery_path %>)</h2>

<table>
	<thead>
		<tr>
			<th>Gallery Name</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
	</thead>

	<tbody>
	<% @galleries.each do |gallery| %>
	  <tr>
	  	<td><%= gallery.title %></td>
	  	<td><%= link_to 'Show', admin_gallery_path(gallery) %></td>
	  	<td><%= link_to 'Edit', edit_admin_gallery_path(gallery) %></td>
	  	<td><%= link_to 'Destroy', admin_gallery_path(gallery), confirm: 'Are you sure you want to delete this gallery?', method: :delete %></td>
	  </tr>
  <% end %>
	</tbody>
	</table>