<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "admin" %>
  <!-- markItUp skin -->
  <%= stylesheet_link_tag "markitup/skin/style", :media => "all" %>
  <!-- markItUp toolbar skin -->
  <%= stylesheet_link_tag "markitup/set/style", :media => "all" %>
  <!-- markItUp -->
  <%= javascript_include_tag "jquery.markitup" %>
  <!-- markItUp toolbar settings -->
  <%= javascript_include_tag "markitup_settings" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
  <h1><%= link_to "Clemson Dancer's Admin Page", admin_index_path %></h1>
  <nav>
    <ul>
      <li><%= link_to "Manage Pages", admin_pages_path %></li>
      <li><%= link_to "Manage Galleries", admin_galleries_path %></li>
      <li>Clemson Dancers Gmail</li>
    </ul>
  </nav>
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <%end%>
</header>
<div id="content">
  <%= yield %>
</div>
</body>
</html>