<!DOCTYPE html>
<html>
<head>
  <title></title>
  <%= stylesheet_link_tag    "admin", :media => "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1> Admin </h1>
<% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
<%end%>
<%= yield %>

</body>
</html>