<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    "superuser", :media => "all" %>
  <%= javascript_include_tag "superuser" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
  	<h1><%= @title %></h1>
    <nav>
      <ul>
        <li><%= link_to "New Admin", new_superuser_admin_path %></li>
      </ul>
    </nav>
  	<% flash.each do |key, value| %>
      	<div class="flash <%= key %>"><%= value %></div>
  	<%end%>
  </header>

  <div id="content">
	 <%= yield %>
  </div>

</body>
</html>
